<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World!
      </h1>
      <p class="subtitle">
        Welcome to our project <strong>familytrees51</strong>. where you can upload <a href="https://www.gedcom.org/">GEDCOM</a> Files to display and modify them!
      </p>
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>familytrees51</strong> was made by Group 51 in the course <i>"Web Technologies"</i>.
      </p>
    </div>
  </footer>
  </body>
</html>